@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.42857143;
	color: #333;
	font-weight: 400;
	background-color: #f7f7f7;
}
body, html{
	height: 100%;
}

body.login{
	border-left: 10px solid #635a9b;
	padding-top: 15%;
	background: #fff;
}
.box ul li {font-size: 13px;color: #666;line-height: normal;margin: 0 0 15px;}
.box ul li:hover{color:#60a5e5;}
body.login .left{
	border-right: 1px solid #ececec;
	padding-right: 100px;
	padding-bottom: 100px;
}
body.login .right{	
	padding-left: 100px;
}

body.login h1{
	font-size: 40px;
	margin: 70px 0 40px 0;
	color: #000;
	line-height: 44px;	
}
body.login .left p{
	line-height: 30px;
}
body.login .form-contorl{
	width: 100%;
	border:0;
	border-bottom: 1px solid #ececec;
	outline: none;
	padding: 10px 0;
	font-size: 15px;
}
body.login .form-group{
	padding-left: 40px;
	position: relative;
}
body.login .icon-user, body.login .icon-password{
	width: 40px;
	position: absolute;
	left: 0;
	top: 0;
	padding: 8px 0 0;
}
body.login .forgot{
	float: right;
	color: #000;
	margin: 0 0 20px 0;
	font-size: 14px;
}
body.login .btn{
	background: #60a5e5;
	padding: 15px 0;
	font-size: 16px;
	border:0;
}
body.login .regirster-link{
	margin: 20px 0 0;
	text-align: center;
	font-size: 14px;
}
body.login .regirster-link a{
	color: #000;
	margin-left: 15px;
}
body.login form h2{
	font-size: 20px;
	margin: 0 0 50px 0;
	color: #000;
}



.sidebar {
	width: 110px;
	display: block;
	font-weight: 200;
	z-index: 3;
	position: fixed;
	background: #60a5e5;
	height: 100%;
}
.main-panel {
	width: calc(100% - 110px);
	margin-left: 110px;
}

body.active .sidebar{
	width: 220px;
	transition: all 150ms linear;
}

body.active .main-panel{
	width: calc(100% - 220px);
	margin-left: 220px;
	transition: all 150ms linear;
}

.sidebar p{
	-webkit-transform: translate3d(-25px, 0, 0);
	-moz-transform: translate3d(-25px, 0, 0);
	-o-transform: translate3d(-25px, 0, 0);
	-ms-transform: translate3d(-25px, 0, 0);
	transform: translate3d(-25px, 0, 0);
	opacity: 0;
	-webkit-transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	-ms-transition: all 150ms linear;
	transition: all 150ms linear;
	position: relative;
	white-space: pre;
}

body.active .sidebar p{
	-webkit-transform: translate3d(0px, 0, 0);
	-moz-transform: translate3d(0px, 0, 0);
	-o-transform: translate3d(0px, 0, 0);
	-ms-transform: translate3d(0px, 0, 0);
	transform: translate3d(0px, 0, 0);
	opacity: 1;
}

.logo-icon{
	border-bottom: 1px solid #fff;
	padding: 20px 0 20px 50px;
	position: relative;
}
.logo-icon p{
	position: absolute;
	left: 90px;
	top: 30px;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
}
.sidebar-menu{
	list-style: none;
	margin: 40px 0 0; 
	padding: 0;
}
.sidebar-menu li{
	display: block;
}
.col-lg-12.white-box .form-group.form-check1{
    width: 137px;
}
.form-check1 button {
    background: #ff8a00 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    height: 37px;
    width: 100%;
}
.table.table-striped th:last-child{border-right:0px;}
.table.table-striped td:last-child{border-right:0px;}
.table.table-striped th {
    background: #fff none repeat scroll 0 0;
    border-right: 1px solid #ddd;
    font-size: 15px;
    font-weight: 600;
}
.table.table-striped td {
    border: 1px solid #ccc;
    padding: 10px 10px;
	font-size:13px;
}
label.form-check-label {
    color: #00b23a;
    padding-left: 13px;
    padding-top: 5px;
}
.sidebar-menu li a{
	display: block;
	padding: 30px 0 30px 50px;
	position: relative;
}
.sidebar-menu p{
	position: absolute;
	left: 90px;
	top: 35px;
	font-size: 15px;
	color: #fff;
}

.navbar{width: calc(100% - 110px);
	background: #fff;
	border-bottom: 1px solid #e7e9ea;
	height: 88px;
	position:fixed;
	z-index:999;
}
.navbar ul{
	list-style: none;
	margin: 0;
	padding: 0 0 0 30px;
	float: left;
}
.navbar ul li{
	display: inline-block;
}
.navbar ul li a {
    display: block;
    color: #3c3c3c;
    position: relative;
    padding: 32px 11px 32px 0;
    margin: 0 15px 0 0;
}
.notification{
    position: absolute;
    right: 20px;
    top: 20px;
}
.count {
    background: #e82368 none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: -6px;
    text-align: center;
    top: -1px;
    width: 20px;
}
.has-error{
    color: #f00;
    font-size: 12px;
}
.navbar ul li a:after{
	background: #3c3c3c;
	width: 1px;
	height: 17px;
	position: absolute;
	right: 0;
	top: 35px;
	content: '';
}
.navbar ul li:last-child a:after{
	display: none;
}
.top-right{
	float: right;
}
.top-right .user-icon{
	border-left: 1px solid #e7e9ea;
	border-right: 1px solid #e7e9ea;
	padding:17px 30px 15px;
	display: inline-block;
	vertical-align: middle;
}
.top-right .user-icon a{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline-block;
	overflow: hidden;
}
.right-search{
	display: inline-block;
	vertical-align: middle;
	padding: 0 18px;
}
.right-search button{
	background: none;
	border:0;
	outline: none;
	margin: 0 25px 0 0;
}
.col-lg-12.white-box {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    padding: 10px 10px 0; margin-bottom:30px;
}
.white-box .form-check {
    float: left;
    font-size: 13px;
    font-weight: normal;
    padding-left: 35px;
    padding-right: 18px;
    padding-top: 5px;
}
.col-lg-12.white-box .form-group{padding-right:15px; float:left;}
.right-menu ul{margin:0px; padding:0px;}
.right-menu li {
    border-bottom: 1px solid #74ade2;
    display: block;
    line-height: 41px;
    list-style: outside none none;
}
.right-menu li a {
    color: #fff;
    padding: 0 0 0 20px;
}
.right-menu {
    background: #60a5e5 none repeat scroll 0 0;
    height: auto;
    max-width: 211px;
    padding: 20px 0 0;
    position: fixed;
    right: 0;
    width: 100%;
}
.content{
	padding:125px 0 50px 45px;
}
.content h2{
	margin: 0 0 40px 0;
	color: #000;
	font-size: 28px;
	float:left;
	width:100%;
}
.content .box{
	min-height: 400px;
	background: #fff;
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.07);
	padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 40px 40px 0;
    width: 43%;
}
.content .box .col-sm-10{
	padding-left: 0;
}
.content .box h4{
	color: #000;
	margin: 16px 0 15px;
}
.content .box ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
marquee.dashboard-id {
    height: 305px;
}
.content .box.top-title {
    min-height: auto;
}
.content .box.top-title h4 {margin: 13px 0 0;line-height: normal;}
form {float: left;width: 100%;margin: 0 0 0 -15px;}
.content h2.update-profile {float: left;width: 100%;margin: 0 0 0 -15px;}
.choose-img img {float: left;margin: 0 15px 0 0;}
input.choose-input[type=file]::-webkit-file-upload-button {color: #333;background-color: #fff;-webkit-appearance: button;cursor: pointer;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid #ccc;border-radius: 4px;}
.choose-img input.choose-input[type=file]::-webkit-file-upload-button:hover{background:#e6e6e6;}
.choose-img input.choose-input {font-size: 14px;color: #555;float: left;position: relative;right: 0;top: 67px;}
.content .form-horizontal.box.update {margin: 0 auto;padding: 20px;width: 40%;min-height: 410px;}
.form-horizontal .control-label {font-size: 14px;padding: 7px 0;}
.change-password {float: right;margin: 6px 0 0 0;}
.content h2.update-profile {float: left;width: 100%;font-size: 22px;border-bottom: 1px solid #ccc;padding: 0 0 15px;margin: 0 0 15px;}
.content .box.running-campaigns {width: 98%;padding: 15px;float: left;min-height: auto;}
.padding-none {padding: 0;}
.table.table-striped {border: 1px solid #ccc;margin: 10px 0 10px;}
.table.table-striped th {border: 1px solid #ccc;padding: 10px;}
.table.table-striped td a {padding: 5px 10px;background: #fff;border-radius: 3px;color: #555;border: 1px solid #ccc;}
.table.table-striped td a:hover {text-decoration: none;background: #e6e6e6;}
.table.table-striped td label {font-weight: normal;margin: 0;padding: 0;line-height: normal;}
.table.table-striped td input {margin: 0 5px 0 0;position: relative;top: 2px;}
p.create-btn {width: 85%;float: left;}
.create-btn a.create-new {padding: 5px 10px;background: #fff;border-radius: 3px;color: #555;border: 1px solid #ccc;margin: 0 0 10px;float: left;}
.create-btn a.create-new:hover {text-decoration: none;background: #e6e6e6;}
.content .box-2{background: #fff;box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.07);padding-top: 30px;padding-bottom: 30px;margin: 0 40px 40px 0;}
input.form-control[type=checkbox] {float: left;width: 15px;border: 0;box-shadow: 0 0 0;margin: 0 5px 0 0;}
.form-control + span {margin: 6px 0 0;float: left;font-size: 14px;}
textarea.form-control {resize: none;}
.content .box.half-width.running-campaigns.col-md-6 {width: 50%;}
.half-width input.form-control {width: 70%;margin: 0 10px 0 0;}
.half-width label.control-label {padding-top: 4px;}
.top-right .right-search a {float: right;width: auto;font-size: 18px;position: absolute;right: 30px;top: 50%;transform: translateY(-50%);}
.form-group label.control-label {padding-top: 5px;}
.cadmin-dash {text-align: center;float: left;width: 100%;}
.content .cadmin-dash .form-horizontal.box.update {display: inline-block;min-height: auto;width:100%;}
.cadmin-dash .cadmin-dash-inner {float: none;display: inline-block;width: 40%;}
.table.table-striped td span.removable-data {float: left;width: 100%;padding: 10px;position:relative;}
.table.table-striped td .removable-data a.remove-data {float: right;width: auto;background: transparent;border: 0;padding: 0;margin: 0 0 0 10px;position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
.table.table-striped td .removable-data a.remove-data:hover {color: #000;}
.running-campaigns a.btn.btn-2 {background: #ffa604 !important;color: #fff !important;border: 0 !important;}
.modal-dialog .content .box h4 {color: #000;float: left;width: 100%;margin: 10px 0 0;padding: 0;}
.modal-dialog .modal-header {padding: 15px;border-bottom: 1px solid #e5e5e5;float: left;width: 100%;}
.modal-dialog .modal-body {position: relative;padding: 15px;float: left;width: 100%;}
.table.table-striped td span.removable-data span {float: left;width: 100%;font-weight: 600;padding: 0 0 5px;margin: 0 0 5px;}
.modal-dialog .modal-content{float:left;width:100%;}
.modal-dialog .modal-footer {float: left;width: 100%;}
.modal-dialog .form-group {margin-bottom: 15px;float: left;width: 100%;margin-top: -10px;}
.form-group{float:left;width:100%;}
.content .box .modal-dialog h4 {float: left;margin: 0;}
.createvolunteer-popup label.control-label {padding: 5px 15px;}
.createvolunteer-popup hr {margin-top: 10px;}
hr.new-voter {float: left;width: 100%;margin: 20px 0 30px;}
.login.modal-open .bootbox button.btn.btn-primary {padding: 6px 16px;}
.modal-dialog.politicalpartiesbystate-table {width: 1000px;}
.table.table-striped td.party-logo {text-align: center;}
.table.table-striped.data-att-table tr th {display: none;}
.table.table-striped.data-att-table tr td:before {content: attr(data-th) ": ";width: 35%;float: left;font-size: 14px;font-weight: bold;padding: 0 15% 0 0;}
.table.table-striped.data-att-table tr td {float: right;width: 100%;font-size: 14px;}
.table.table-striped.data-att-table tr td.arrow:before {content: '\f061';font-family: Font Awesome\ 5 Free;}
.table.table-striped.data-att-table tr td.arrow{background:#e8e8e8;font-weight:bold;}
body.active .content .box-2{z-index:-1;}

/*Media Query*/
@media only screen and (max-width:1440px){
	.navbar ul li a {font-size: 14px;}
	.content .form-horizontal.box.update{width:55%;}
	.custom-width-election {width: 55.5%;}
	.table.table-striped td.party-logo img {width: 50% !important;float: none;display: inline-block;margin: 0 10px 0 0 !important;}
	.running-campaigns .btn.add-btn {margin: 0 0 5px;width:100%;}
	.choose-img input.choose-input {width: 50%;}
	.form-horizontal .control-label{font-size:13px;font-weight:400;}
}
/*Media Query*/


#loading {  
    display: none;
    position: fixed;  
    left: 0px;  
    top: 0px;  
    width: 100%;  
    height: 100%;  
    z-index: 9999;  
    /*background: url('/images/processing.gif') 50% 50% no-repeat rgb(249,249,249);*/  
    background: url('/images/processing.gif') 50% 50% no-repeat;

}