
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}

<div class="row">
    <div class="col-md-9 box-2 running-campaigns sidebar-right">
        <div class="col-md-3">
            <div class="form-group">
                @Html.DropDownList("userTypeID", null, " User Type ", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.TextBox("LoginID", null, new { @class = "form-control", @placeholder = "Login id", @id = "LoginID" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <input type="button" name="search" class="btn btn-defaul" value="Search" onclick="return searchResult();" />
            </div>
        </div>
        <div class="table-responsive col-md-12" id="viewResult">
            <div class="col-md-12">
                <p>Please use above search criteria to view the result list</p>
            </div>
        </div>
    </div>
</div>


<script>

    function searchResult() {
        debugger;
        var userTypeID = $("#userTypeID").val();
        var LoginID = $("#LoginID").val();
        if (userTypeID == "" && LoginID == "") {

            bootbox.alert({
                title: "Alert !",
                message: '<p>Please select user type OR enter login id to find login status of user</p>',
                timeOut: 2000

            });
            return;

        }

        $("#loading").show();
        $.ajax({
            url: '/Account/_partialViewUserLoginStatus',
            type: 'POST',
            data: { 'userTypeID': userTypeID, 'userID': LoginID },
            success: function (data) {
                debugger
                $('#viewResult').html(data);
                $('#loading').hide();
            },
            error: function () {
                bootbox.alert({
                    title: "Alert !",
                    message: '<p>Whooaaa! Something went wrong..</p>',
                    timeOut: 2000

                });

            },
        });
    }
</script>